.carousel {
	padding: 81px 20px;
	&__inner {
		position: relative;		
		width: 750px;
		margin: 0 auto;
		img {
			width: 100%;
		}
	}
	.slick-prev, .slick-next {
		position: absolute;
		left: -96px;
		top: 50%;
		transform: translateY(-50%);
		border: none;
		background-color: #fff;
	}
	.slick-next {
		left: auto;
		right: -96px;
	}
}